.tab-content {
    background-color: white;
    opacity: 0.8;
    font-size: 14;
    align-content: flex-start
}

button {
    margin-bottom: 1em;
    vertical-align: 2em;
}

.help-block {
    opacity: 0.5;
}

#invalid {
    background-color: red;
    font-size: 18px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
}


/* input[type=number] {
    -moz-appearance: textfield;
} */