<div class="container">

    <app-header></app-header>
    <p> Capsniaga is the online portal to learn and master the art of business by developing skills to match the practical world. learn concepts , terms of business, simulate the real world business and see results for your decisions
    </p>
    <app-login *ngIf="!validUser" [validUser]="validUser"></app-login>

    <div *ngIf="validUser">
        <app-player *ngIf="userType=='player'"></app-player>
        <app-instructor *ngIf="userType=='instructor'"></app-instructor>
    </div>

</div>